<ul id="nav-mobile" class="side-nav fixed " style="transform: translateX(0%);">
    <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
        <img src="/Scripts/app/libs/img/imglogo.jpg" id="front-page-logo"></a>
    </li>
    <li class="search">
        <div class="search-wrapper card">
            <input id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
        </div>

    </li>
    <li class=" select-wrapper container">
        <div class="input-field ">
            <select>
                <option value="" disabled selected>Elija Opcion</option>
                <option value="1">Universidad</option>
                <option value="2">Colegios</option>
                <option value="3">Restaurantes</option>
                <option value="3">Parques Urbanos</option>
                <option value="3">Hospitales</option>
                <option value="3">Ginnacios</option>
            </select>
        </div>
    </li>

    <li>
        estes es el contenido de la otra pagina
    </li>
</ul>
